<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Інформаційна_система_з_технічного_обліку.Properties.Settings.бд_інвентаризаціяConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=root;persistsecurityinfo=True;database=бд_інвентаризація"
            providerName="MySql.Data.MySqlClient" />
        <add name="Інформаційна_система_з_технічного_обліку.Properties.Settings.countryConnectionString"
            connectionString="Data Source=DESKTOP-G6H5V4H\SQLEXPRESS;Initial Catalog=country;Persist Security Info=True;User ID=artem;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Інформаційна_система_з_технічного_обліку.Properties.Settings.БД_інвентаризаціяConnectionString1"
            connectionString="Data Source=DESKTOP-G6H5V4H\SQLEXPRESS;Initial Catalog=БД_інвентаризація;Persist Security Info=True;User ID=artem;Password=12345;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>